@model CitasMedicasWeb.Models.Medico
@{
    ViewData["Title"] = "Registrar Médico";
}

<h1>Registrar Médico</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="NombresCompletos" class="form-control @(ViewData.ModelState["NombresCompletos"]?.Errors.Count > 0 ? "is-invalid" : "")" />
                <label asp-for="NombresCompletos"></label>
                <span asp-validation-for="NombresCompletos" class="invalid-feedback"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="CMP" class="form-control @(ViewData.ModelState["CMP"]?.Errors.Count > 0 ? "is-invalid" : "")" />
                <label asp-for="CMP"></label>
                <span asp-validation-for="CMP" class="invalid-feedback"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="invalid-feedback"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="EspecialidadId" class="form-control @(ViewData.ModelState["EspecialidadId"]?.Errors.Count > 0 ? "is-invalid" : "")"
                        asp-items="ViewBag.EspecialidadId"></select>
                <label asp-for="EspecialidadId"></label>
                <span asp-validation-for="EspecialidadId" class="invalid-feedback"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                <i class="bi bi-check-circle"></i> Registrar
            </button>
        </form>
    </div>
</div>