@model CitasMedicasWeb.Models.Medico

@{
    ViewData["Title"] = "Editar Médico";
}

<h1>Editar Médico</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-floating mb-3">
                <input asp-for="NombresCompletos" class="form-control" placeholder="Nombres completos" />
                <label asp-for="NombresCompletos"></label>
                <span asp-validation-for="NombresCompletos" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="CMP" class="form-control" placeholder="CMP" />
                <label asp-for="CMP"></label>
                <span asp-validation-for="CMP" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="Correo electrónico" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="EspecialidadId" class="form-control" asp-items="ViewBag.EspecialidadId"></select>
                <label asp-for="EspecialidadId"></label>
                <span asp-validation-for="EspecialidadId" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Guardar cambios</button>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}